.Title{
    font-family: 'Star Jedi Hollow';
    line-height: 61px;
    text-align: center;
}

.Sub{
    font-family: 'Star Jedi';
}

._yellow{ color: #ffe81f;
}

._white{ color: #fff; }

._sm{font-size: 20px;}
._md{font-size: 32px;}
._lg{font-size: 40px;}
._xl{font-size: 90px;}