@font-face {
    font-family: 'Star Jedi Logo MonoLine';
    src: url('StarJediLogoMonoLine.woff2') format('woff2'),
        url('StarJediLogoMonoLine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Star Jedi Logo DoubleLine2';
    src: url('StarJediLogoDoubleLine2.woff2') format('woff2'),
        url('StarJediLogoDoubleLine2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Star Jedi Logo DoubleLine1';
    src: url('StarJediLogoDoubleLine1.woff2') format('woff2'),
        url('StarJediLogoDoubleLine1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StarJedi Special Edition';
    src: url('StarJediSpecialEdition.woff2') format('woff2'),
        url('StarJediSpecialEdition.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Star Jedi Outline';
    src: url('StarJediOutline.woff2') format('woff2'),
        url('StarJediOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StarJediHollow';
    src: url('StarJediHollow.woff2') format('woff2'),
        url('StarJediHollow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Star Jedi';
    src: url('StarJedi.woff2') format('woff2'),
        url('StarJedi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

