@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);
@font-face {
    font-family: 'Star Jedi Logo MonoLine';
    src: url('StarJediLogoMonoLine.woff2') format('woff2'),
        url('StarJediLogoMonoLine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Star Jedi Logo DoubleLine2';
    src: url('StarJediLogoDoubleLine2.woff2') format('woff2'),
        url('StarJediLogoDoubleLine2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Star Jedi Logo DoubleLine1';
    src: url('StarJediLogoDoubleLine1.woff2') format('woff2'),
        url('StarJediLogoDoubleLine1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StarJedi Special Edition';
    src: url('StarJediSpecialEdition.woff2') format('woff2'),
        url('StarJediSpecialEdition.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Star Jedi Outline';
    src: url('StarJediOutline.woff2') format('woff2'),
        url('StarJediOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StarJediHollow';
    src: url('StarJediHollow.woff2') format('woff2'),
        url('StarJediHollow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Star Jedi';
    src: url('StarJedi.woff2') format('woff2'),
        url('StarJedi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  background-color: #000;
}

.Title {
  font-family: "StarJediHollow";
  line-height: 61px;
  text-align: center;
}

.Sub {
  font-family: "Star Jedi Logo DoubleLine2";
}

._yellow {
  color: #ffe81f;
}

._white {
  color: #fff;
}

._sm {
  font-size: 20px;
}

._md {
  font-size: 32px;
}

._lg {
  font-size: 40px;
}

._xl {
  font-size: 90px;
}

.Login .Login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.Login .Login-form .Title {
  margin-bottom: 36px;
}
.Login .Login-form .login_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.Login .Login-form .login_input {
  background-color: transparent;
  border: 2px solid #ffe81f;
  border-radius: 8px;
  color: #fff;
  font-family: "Star Jedi";
  font-size: 1em;
  margin-bottom: 15px;
  max-width: 300px;
  outline: none;
  padding: 15px;
  width: 100%;
}
.Login .Login-form .login_button {
  background-color: #ffe81f;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-family: "Star Jedi";
  font-size: 1em;
  max-width: 300px;
  padding: 15px;
  width: 100%;
}
